@import "compass/css3";
@import "compass/css3/box-shadow";
@import "_animation";

@font-face
{
  font-family: Al-seana;
  src: url('../fonts/al-seana.ttf');
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 10px;
}

.container {
  bottom: 0;
  left: 0;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.game {
  background: url('../images/background.png') repeat;
  background-size: 320px 320px;
  height: 60em;
  width: 55em;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  z-index: -1;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 6em;
  height: 5.8em;
  margin-top: -5.8em;
  margin-left: -2.8em;
  background: url('../images/doodle_right.png') no-repeat;
  background-size: cover;
  z-index: 3;
}

.platform {
  position: absolute;
  background: url('../images/green_platform.png') no-repeat;
  background-size: cover;
  width: 4.5em;
  height: 1.1em;
  z-index: 2;
}

.obstacle {
  position: absolute;
  background: url('../images/red_platform.png') no-repeat;
  background-size: cover;
  width: 4.5em;
  height: 1.1em;
  z-index: 2;
}

.platform.fragile {
  background: yellow;
}

.platform.fracturing {
  background: red;
}

.platform.dying {
  background: blue;
}

.gameover {
  position: absolute;
  font: bold;
  color: red;
  left: 18.6em;
  z-index: 999;
  background-color: rgba(0, 180, 180, 0.9);
}

.item {
  position: absolute;
}

.item.coin {
  background: url('../images/ball.png') no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
}

.scoreboard {
  position: absolute;
  width: 100%;
  height: 1em;
  background: rgba(167, 185, 205, 0.7);
  border-bottom: 2px solid black;
  @include box-shadow(rgba(black, 0.4) 0px 5px 10px);
  font-family: Al-seana;
  font-size: 3em;
  padding: 0px 10px;
  z-index: 100; 
}

.gameScene {
  
}

.menuScene {
  position: absolute;
  background-size: 550px 600px;
  background: red;
  background: url('../images/menu-background.png') no-repeat;
  background-size: cover;

  .button {
    background: url('../images/button.png');
    width: 1em;
    height: 1em;

    .pressed {
      background: url('../images/button-pressed.png');
    }
  }
}
