@import "compass/css3";

.container {
  bottom: 0;
  left: 0;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.game {
  position: relative;
  border: 1px solid;
  width: 800px;
  height: 600px;
}

.player {
  position: absolute;
  left: 100px;
  bottom: 0;
  background: red;
  width: 70px;
  height: 100px;
}
