@import "compass/css3";
@import "_animation";

.container {
  bottom: 0;
  left: 0;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.game {
  background: url('../images/background.png') repeat;
  background-size: 320px 320px;
  position: relative;
  border: 1px solid;
  min-height: 100%;
  overflow: hidden;
  z-index: -1;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
  background: url('../images/doodle_right.png') no-repeat;
  background-size: cover;
  z-index: 3;
  border: 1px solid black;
}

.platform {
  position: absolute;
  background: url('../images/green_platform.png') no-repeat;
  background-size: cover;
  z-index: 2;

}

.platform.fragile {
  background: yellow;
}

.platform.fracturing {
  background: red;
}

.platform.dying {
  background: blue;
}

.gameover {
  position: absolute;
  font: bold;
  color: red;
  left: 186px;
  z-index: 999;
  background-color: rgba(0, 180, 180, 0.9);
}

.scoreboard {
  position: absolute;
}