@import "compass/css3";

.container {
  bottom: 0;
  left: 0;
  background: url('../images/background.png');
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.game {
  position: relative;
  border: 1px solid;
  width: 800px;
  height: 600px;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 97px;
  margin-top: -100px;
  margin-left: -48px;
  background: url('../images/doodle_left.png') no-repeat;
}

.platform {
  position: absolute;
  background: red;
}
